
<div class="pageContainer" layout="column" layout-align="start center">
    <div class="subHead1">My Projects</div>
    <div layout="column" layout-align="center start">
        <!-- <div class="projectDiv" layout="column" layout-align="start center">
            <div class="buttonDiv"><md-button class="projectButton subHead2" ng-click="pc.showDialog($event)">WeGrocery</md-button></div>
            <img class="projectPic" src="assets/WeGrocery.png" alt="WeGrocery">
        </div>
        <br>  
        <div class="projectDiv" layout="column" layout-align="start center">
            <div class="buttonDiv"><md-button class="projectButton subHead2" ng-click="pc.showBelwin($event)">Belwin <br> Outdoor Science</md-button></div>
            <img classa="projectPic" src="assets/Belwin.png" alt="WeGrocery">
        </div> -->
        <div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="buttonDiv">
                            <md-button class="projectButton subHead2" ng-click="pc.showDialog($event)">WeGrocery</md-button>
                        </div>
                        <img class="imageCarousel" src="assets/Belwin.png" alt="">
                    </div>

                    <div class="item">
                        <div class="buttonDiv">
                            <md-button class="projectButton subHead2" ng-click="pc.showBelwin($event)">Belwin
                                <br> Outdoor Science</md-button>
                        </div>
                        <img class="imageCarousel" src="assets/WeGrocery.png" alt="">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" target="_self" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>

</div>