<div class="pageContainer" layout="column" layout-align="start center">
    <div class="subHead1">My Projects</div>
    <div layout="row" layout-align="center start">
        <div class="projectDiv" div layout="column" layout-align="start center">
            <md-button class="projectButton subHead2" ng-click="pc.showDialog($event)">WeGrocery</md-button>
            <img id="weGroceryPic" src="assets/WeGrocery.png" alt="WeGrocery">
        </div>  
        <div class="projectDiv" layout="column" layout-align="start center">
            <md-button class="projectButton subHead2" ng-click="pc.showBelwin($event)">Belwin <br> Outdoor Science</md-button>
            <img id="weGroceryPic" src="assets/Belwin.png" alt="WeGrocery">
        </div>


    </div>

</div>