<md-dialog aria-label="WeGrocery" layout="column" layout-align="start center">
    <div class="subHead1">WeGrocery</div>
    <p class="homeParagraph">
        Roommates often have problems coordinating what groceries they have and need.
        WeGrocery is a full-stack web application to
        help a users’ create, share, and co-edit grocery lists. For grocery-list editing, users will have the option to mark
        whether or not they have specific items on a list; this list change will update for all shared-list users to see.
        Users will also have the option to add notes to each specific grocery item and the ability to add on to or remove
        items from a list. All of these changes will update-real time on any shared list.
    </p>

</md-dialog>