html{
    height: initial!important;
    background-color: white;
}
#charlyPic {
    width: 500px;
    margin-top: -2em;
    margin-bottom: 2em;
}

.projectPic {
    width: 100%
}
.pageContainer{
    background-color: white;
}

.carousel-indicators li{
    border: 1px solid rgb(187, 220, 230)!important;;
}

.carousel-indicators .active{
    background-color: rgb(187, 220, 230)!important;
}

.closeButton{
    left: 40%;
}

.subHead1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    margin: 2%;
}

.subHead1 h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 38px!important;
    font-weight: normal!important;
    margin: 2%;
    z-index: 1000;
}

.subHead2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
    min-height: 65px;
}
.md-button.projectButton{
    box-shadow: 5px 5px 2.5px #888888;
    background-color: rgb(187, 220, 230);
}

.subHead3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
}

.md-button.subHead2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
    text-transform: none;
    min-height: 74px;
}

.homeParagraph {
    font-family: 'Quicksand', sans-serif;
    width: 650px;
    position: static;
}

#homeParagraphDiv {
    margin-top: 33px;
    text-align: center;
    margin: auto;
}


md-dialog.projectDialog {
    width: 80%;
}



body {
    max-width: 1200px;
    width: 1000px;
    margin: auto!important;
    background-color: white!important;
}
.buttonDiv{
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: 1em;
}
.projectDiv{
    margin: auto;
}


#myCarousel {
    text-align: center;
    width: fit-content;
    min-width: 630px;
}

.imageCarousel {
    margin: auto;
    height: 600px!important;
}

.carousel-control {
    background-image: none !important;
    opacity: 0.75!important;
}

.glyphicon {
    color: rgb(187, 220, 230);
}



@media (max-width: 850px) {
    body {
        max-width: 320px;
        min-width: 200px;
    }
    #charlyPic {
        width: 90%;
        margin: 0px;
        margin-top: -2em;
    }


    .md-button.subHead2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 22px!important;
        margin-bottom: 1em;
        text-transform: none;
        min-height: 65px;
        line-height: 1.5em;
    }
    .subHead1{
        font-size: 24px;
        margin-bottom: 1em;
    }
    .subHead3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        margin: 1%;
    }
    md-dialog.projectDialog {
        width: 100%;
    }
    
    md-dialog-container {
        height: 100% !important;
        position: relative !important;
        top: 0px !important;
    }

    .homeParagraph {
        font-family: 'Quicksand', sans-serif;
        width: 90%;
        font-size: 16px;
        position: static;
        align-self: center;
        margin: 5%;
    }
    .md-button{
        font-size: 10px!important;
    }
    #myCarousel {
        text-align: center;
        width: 90%;
        margin: auto;
        min-width: 330px;
    }
    .imageCarousel{
       height: 400px!important;
    }
  
}

