#charlyPic {
    width: 80%;
    margin: 40px;
}

.projectPic {
    width: 100%
}
.pageContainer{
    background-color: white;
}

#navbar {}

.subHead1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    margin: 2%;
}

.subHead2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
    min-height: 65px;
}
.md-button.projectButton{
    box-shadow: 5px 5px 2.5px #888888;
    background-color: rgb(187, 220, 230);
}

.subHead3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
}

.md-button.subHead2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
    text-transform: none;
    min-height: 74px;
}

.homeParagraph {
    font-family: 'Quicksand', sans-serif;
    width: 650px;
    position: static;
}

#homeParagraphDiv {
    margin-top: 33px;
    text-align: center;
    margin: auto;
}


md-dialog.projectDialog {
    width: 80%;
}

body.ng-scope.md-dialog-is-showing{
    position: relative!important;
}

body {
    max-width: 1200px;
    min-width: 1000px;
    margin: auto!important;
    background-color: white!important;
}
.buttonDiv{
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: 1em;
}
.projectDiv{
    margin: auto;
}

@media (max-width: 850px) {
    body {
        max-width: 400px;
        min-width: 200px;
    }
    #charlyPic {
        width: 100%;
        margin: 0px;
    }


    .md-button.subHead2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 22px;
        margin-bottom: 1em;
        text-transform: none;
        min-height: 40px;
        line-height: 1.5em;
    }
    .subHead1{
        font-size: 30px;
    }
    .subHead3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        margin: 1%;
    }
    md-dialog.projectDialog {
        width: 80%;
    }
    .homeParagraph {
        font-family: 'Quicksand', sans-serif;
        width: 90%;
        font-size: 13px;
        position: static;
        align-self: center;
        margin: 5%;
    }
    .md-button{
        font-size: 10px!important;
    }
  
}

