#charlyPic {
    width: 400px;
    margin: 40px;
}

#weGroceryPic {
    height: 435px;
}

#navbar {}

.subHead1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    margin: 2%;
}

.subHead2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
    min-height: 65px;
}

.subHead3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
}

.md-button.subHead2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 1%;
    text-transform: none;
    min-height: 74px;
}

.homeParagraph {
    font-family: 'Quicksand', sans-serif;
    width: 70%;
    position: static;
}

#homeParagraphDiv {
    margin-top: 33px;
}

.projectDiv {
    margin: 20px
}

md-dialog.projectDialog {
    width: 80%;
}

body {
    max-width: 1200px;
    min-width: 1000px;
}

@media (max-width: 500px) {
    body {
        max-width: 400px;
        min-width: 200px;
    }
    #charlyPic {
        width: 210px;
        margin-left: 46px;
    }
    #weGroceryPic {
        height: 235px;
    }
    .subHead3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        margin: 1%;
    }
    md-dialog.projectDialog {
        width: 80%;
    }
    .homeParagraph {
        font-family: 'Quicksand', sans-serif;
        width: 1000%;
        position: static;
    }
  
}

